// Your custom components css here

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  color: #cedce4;
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
              linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
              linear-gradient(135deg, #670d10 0%,#092756 100%);
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.active{
  color: yellow !important;
}

.admin-name {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 500px;
}

.section_step {
  position: relative;
  padding: 75px 0;
  background: #fff;

  .title_module_main {
    margin-bottom: 60px;

    h2 {
      font-family: "Barlow",sans-serif;
      letter-spacing: 0;
      font-size: 29px;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      color: #000000;

      span.step-text {
        color: #a8b502;
      }
    }
  }

  .col-step {
    text-align: center;

    &:first-child:before {
      background-image: url(//bizweb.dktcdn.net/100/422/313/themes/823050/assets/arrow-step.png?1621843462295);
      content: "";
      width: 91px;
      height: 41px;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: block;
      line-height: 37px;
      position: absolute;
      left: 100%;
      top: 35%;
      transform: translateX(-40px) translateY(-50%);
    }

    &:nth-child(2):before {
      background-image: url(//bizweb.dktcdn.net/100/422/313/themes/823050/assets/arrow-step-2.png?1621843462295);
      content: "";
      width: 100px;
      height: 40px;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: block;
      line-height: 32px;
      position: absolute;
      left: 100%;
      top: 35%;
      transform: translateX(-40px) translateY(-50%);
    }

    .image_step {
      display: block;
      margin-bottom: 15px;

      img.loaded {
        width: auto;
        height: auto;
      }
    }

    .number_step {
      font-family: "Barlow",sans-serif;
      font-size: 36px;
      font-weight: 700;
      color: #999999;
      height: 24px;
      overflow: hidden;
      display: inline-block;
      margin: 0 auto;
      line-height: 36px;
    }

    h3.title_step {
      font-family: "Barlow",sans-serif;
      font-size: 20px;
      color: #18191b;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      padding: 0 10px;
      font-family: "Barlow",sans-serif;
      font-size: 16px;
      color: #333;
      margin: 0;
      line-height: 24px;
    }
  }
}
